style{
    border:2px solid black;
    padding:30px;
    width:300px;
    margin:20px;
    text-align: center;
}
div{
    background-color: lightgrey;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border:1px solid black;
}
#containe1 div{

    background-color: white;
    display:inline-block;

}
#heading{
    border:none;
    background-color: white;
}
img{
    height: 60px;
    width: 60px;
}
#container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#notice{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: red;
}
#container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#container2 div{

    width: 30%;
    height: 200px;
}
#container div:first-child{
    text-align: left;
    width: 40px;
    background-color: white;
}